  <div class="create-area">
    <%= form_with model: [@category, @content], class: "form", local: true do |f|%>
      <form class="form">
        <div class="form2">  
          <%= f.text_field :content, placeholder: 'type a content', class: 'input-content' %>
        </div> 
        <%= f.submit 'SEND', class: 'send-btn' %>
      </form>
    <% end %>
  </div>