  <div class="create-area">
    <% if user_signed_in? %>
      <%= form_with model: [@category, @content], class: "form", local: true do |f|%>
        <form class="create-form">
          <div class="form2">  
            <%= f.text_area :content, placeholder: 'type a content', class: 'input-content' %>
          </div> 
          <%= f.submit 'SEND', class: 'send-btn' %>
        </form>
      <% end %>
    <% else %>
      <%= "コンテントの作成にはログインが必要です" %>
    <% end %>
  </div>