<div class="create-area">
  <% if user_signed_in? %>
    <%= form_with model: [@category, @content, @comment], class: "form", local: true do |f|%>
      <form class="form">
        <div class="form2">  
          <%= f.text_area :comment, placeholder: 'type a comment', class: 'input-comment', id: "input-comment" %>
        </div> 
        <%= f.submit 'SEND', class: 'send-btn' %>
      </form>
    <% end %>
  <% else %>
    <%= "コメントするにはログインが必要です"%>
  <% end %>
</div>