.create-category {
  background-color: darkgrey;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  display: flex;
}
.create-area5 {
  background-color: rgb(247, 199, 184);
  width: 60%;
  height: 250px;
  margin: 20px;
  text-align: center;
}
.p1 {
  margin: 20px;
}
.category-name {
  margin: 20px;
  width: 85%;
}
.category-btn {
  margin: 20px;
}